<div class="row my-3 w-100 bg-light column-gap-3 row-gap-3 justify-content-center">

    <div class="col-xl-3 col-md-5 col-12 order-xl-0 order-md-1 order-2 shadow border border-light-subtle rounded-3 py-4 px-3 bg-white d-flex flex-column align-items-center justify-content-center">
        <app-graphic-primera-caja></app-graphic-primera-caja>
        
        <div class="w-100 d-flex flex-column shadow">
            <div class="w-100 p-3 m-0 d-flex flex-row column-gap-3 border border-1 border-light-subtle justify-content-around">
                <i class="fs-1 bi-bar-chart"></i>
                <div class="d-flex flex-row column-gap-2 align-items-baseline">
                <div class="d-flex flex-column align-items-end justify-content-center ">
                    <span class="fw-bold">Organic 44.46%</span>
                    <span>Visits 356</span>
                </div>
                    <i style="height:10px; width: 10px; color: blue;" class=" bi bi-circle-fill "></i>
                </div>
            </div>
            <div class="w-100 p-3 m-0 d-flex flex-row column-gap-3 border border-1 border-light-subtle justify-content-around">
                <i class="fs-1 bi-bar-chart-fill"></i>
                <div class="d-flex flex-row column-gap-2 align-items-baseline">
                    <div class="d-flex flex-column align-items-end justify-content-center ">
                        <span class="fw-bold">Refrral 5.54%</span>
                        <span>Visits 36</span>
                    </div>
                    <i style="height:10px; width: 10px; color:green;" class=" bi bi-circle-fill "></i>
                </div>
            </div>
            <div class="w-100 p-3 m-0 d-flex flex-row column-gap-3 border border-1 border-light-subtle justify-content-around">
                <i class="fs-1 bi bi-bar-chart-line"></i>
                <div class="d-flex flex-row column-gap-2 align-items-baseline">
                    <div class="d-flex flex-column align-items-end justify-content-center ">
                        <span class="fw-bold">Other 50%</span>
                        <span>Visits 245</span>
                    </div>
                    <i style="height:10px; width: 10px; color: red;" class=" bi bi-circle-fill "></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 col-12 order-xl-1 order-md-2 order-1 shadow border border-light-subtle rounded-3 py-4 px-3">
        <div class="px-3 py-3 border border-3 border-light-subtle shadow">
            <p class="fw-bold fs-5 text-center py-2">CUSTOMER SATISFACTION</p>
            <p class="fs-1 text-center" style="color: green;">93.13%</p>
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 93.13%"></div>
            </div>
            <div class="px-2 py-3 d-flex flex-row justify-content-center align-items-center column-gap-4">
                <div class="d-flex flex-column align-items-center">
                    <span>Trend</span>
                    <i style="color: green;" class="bi bi-graph-up-arrow"></i>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <span>Change %</span>
                    <span class="fw-bold">14.29+</span>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <span>Previous</span>
                    <span class="fw-bold">79.82</span>
                </div>
            </div>
        </div>
        <div class="mt-3 px-3 py-4 shadow border border-3 border-light-subtle d-flex flex-column ">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-row column-gap-3 px-3">
                    <i class="bi bi-x-lg fs-5 "></i>
                    <i class="bi bi-download fs-5"></i>
                </div>
                <span class="px-3 mb-3">Browser Stats</span>
            </div>
            <div class="d-flex flex-column">
                <div class="px-3 py-3 border-bottom border-3 border-light-subtle rounded-3 d-flex justify-content-between align-items-center">
                    <span class="px-2 py-0 bg-warning rounded-4 text-white">50%</span>
                    <span>Google Chrome</span>
                </div>
                <div class="px-3 py-3 border-bottom border-3 border-light-subtle rounded-3 d-flex justify-content-between align-items-center">
                    <span class="px-2 py-0 bg-danger rounded-4 text-white">10%</span>
                    <span>Mozilla Firefox</span>
                </div>
                <div class="px-3 py-3 border-bottom border-3 border-light-subtle rounded-3 d-flex justify-content-between align-items-center">
                    <span class="px-2 py-0 bg-success rounded-4 text-white">30%</span>
                    <span>Internet Explorer</span>
                </div>
                <div class="px-3 pt-3 rounded-3 d-flex justify-content-between align-items-center">
                    <span class="px-2 py-0 bg-info rounded-4 text-white">10%</span>
                    <span>Safari</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-5 col-12 order-xl-2 order-0 shadow border border-light-subtle rounded-3 py-3 px-3 bg-white d-flex flex-column">
        <div class="my-3 form-check form-switch d-flex flex-row align-items-center justify-content-between">
            <input class="form-check-input fs-5 m-0" type="checkbox" checked>
            <label class="form-check-label">User Statistics</label>
        </div>
        <div class="w-100 h-75">
            <app-graphic-tercera-caja> </app-graphic-tercera-caja>
        </div>
        <div class="mt-3 d-flex flex-row align-items-center justify-content-around">
            <div class="d-flex flex-column">
                <span style="color: grey;">Trend</span>
                <span style="color: green;"><i class="bi bi-graph-up-arrow"></i></span>
            </div>
            <div class="d-flex flex-column">
                <span style="color: grey;">Monthly Users</span>
                <span>123,432</span>
            </div>
            <div class="d-flex flex-column">
                <span style="color: grey;">Weekly Users</span>
                <span>324,222</span>
            </div>
        </div>
    </div>
</div>

<div class="w-100 row bg-light my-3 column-gap-3 row-gap-3 justify-content-center">
    
    <div class="col-xl-4 col-md-12 col-12 rounded-3 px-3 py-2 shadow bg-white">
        <div class="px-3 my-4 d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row column-gap-2">
                <i class="bi bi-three-dots-vertical"></i>
                <i class="bi bi-arrow-counterclockwise"></i>
            </div>
            <span>Advertising & Promotions</span>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="w-100 h-100 my-3 col-xl-4 col-md-12 col-12">
                <app-graphic-segunda-caja></app-graphic-segunda-caja>
            </div>
            <div class="px-3 d-flex align-items-center justify-content-end column-gap-3">
                <span>Hold</span>
                <span>Closed</span>
                <span>Active</span>
            </div>
        </div>
    </div>

    <div class="col-xl-7 col-md-12 col-12 rounded-3 px-3 py-3 shadow bg-white">
        <div class="px-3 d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row column-gap-2">
                <i class="bi bi-three-dots-vertical"></i>
                <i class="bi bi-arrows-fullscreen"></i>
                <i class="bi bi-arrow-counterclockwise"></i>
            </div>
            <span>Social Campaigns</span>
        </div>
        <div class="px-3 py-3">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                  <th scope="col">STATUS</th>
                  <th scope="col">BUDGET</th>
                  <th scope="col">CHANGES</th>
                  <th scope="col">CLIENT</th>
                  <th scope="col">COMPAING</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr class="">
                  <td class=""><span class="bg-info rounded-5 px-2 text-white">Active</span></td>
                  <td>$1478</td>
                  <td style="color: green;">2.43%</td>
                  <td style="color: gray;">Beavis</td>
                  <td>Facebook</td>
                </tr>
                <tr>
                  <td><span class="bg-danger rounded-5 px-2 text-white">Closed</span></td>
                  <td>$951</td>
                  <td style="color: green;">1.43%</td>
                  <td style="color: gray;">Felix</td>
                  <td>Youtube</td>
                </tr>
                <tr>
                  <td><span class="bg-dark rounded-5 px-2 text-white">Hold</span></td>
                  <td>$632</td>
                  <td style="color: red;">-8.43%</td>
                  <td style="color: gray;">Cannibus</td>
                  <td>Twitter</td>
                </tr>
                <tr>
                  <td><span class="bg-dark rounded-5 px-2 text-white">Hold</span></td>
                  <td>$325</td>
                  <td style="color: green;">7.43%</td>
                  <td style="color: gray;">Neosoft</td>
                  <td>Spotify</td>
                </tr>
                <tr class="">
                  <td><span class="bg-info rounded-5 px-2 text-white">Active</span></td>
                  <td>$258</td>
                  <td style="color: green;">9.43%</td>
                  <td style="color: gray;">Hencework</td>
                  <td>Instagram</td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>
