<div class="settings-container position-fixed slide-right-to-left shadow-sm border-end border-light-subtle">
    <div class="overflow-y-auto  w-100 h-100 py-3 d-flex flex-column align-items-center justify-content-center">
        <p>tab-message works!</p>

        <div class="grid-container mt-3 mb-3">
            <div class="bg-dark">
                <p class="text-white">Texto de la izquierda</p>
            </div>
            <div class="bg-primary">
                <p class="text-white">Texto de la derecha</p>
            </div>
        </div>

        <div class="mt-3 mb-3 row">
            <div class="bg-secondary col-xl-3 col-md-5 col-12">
                <p class="text-white">Texto de la izquierda</p>
            </div>
            <div class="bg-dark col-xl-3 col-md-5 col-12">
                <p class="text-white">Texto de la derecha</p>
            </div>
        </div>

        
        <!-- Práctica de responsive con botones -->
        <button type="button" class="btn boton1"> Primero</button>
        <button type="button" class="btn boton2"> Segundo</button>
        <button type="button" class="btn boton3">
            <span>Tercero</span>
            <i class="bi bi-house"></i>
        </button>
        <button type="button" class="btn boton4"> Cuarto</button>
        <button type="button" class="btn boton5"> Quinto</button>
        <button type="button" class="btn boton6"> Sexto</button>

    </div>
</div>

